form{
  margin-top: 20px;
}
form input, form select{
  font-size: 12px;
}

form button{
  font-size: 12px;
  /* background-color: rgb(241, 151, 34); */
  font-weight: bolder;
  width: 100%;
  border: 1px solid rgb(203, 203, 203);

}
form button span{
  vertical-align: middle;
  font-size: 20px;
  margin-right: 5px;
}

#contenedorGeneral{
  display: flex;
  place-content: center;
}
.alert{
  font-size: 12px;
  position: absolute;
  bottom: 40px;
  right: 10px;
}

#contenedorBotones{
  display: flex;
  gap: 10px;
}
